[submodule "robot/src/vision_opencv"]
	path = robot/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "camera/jetcam"]
	path = camera/jetcam
	url = https://github.com/NVIDIA-AI-IOT/jetcam.git
